* {
  padding: 0;
  margin: 0;
}
button {
  font-family: roboto, Helvetica, sans-serif;
  font-weight: 300;
  margin: 6px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 40px;
  font-size: 35px;
}

.display {
  width: 430px;
  height: 932px;
  background-color: black;
  text-align: center;
}

.result {
  position: relative;
  font-size: 90px;
  height: 400px;
  width: 100%;
  color: white;
  text-align: right;
}
.p-result {
  font-family: roboto, Helvetica, sans-serif;
  font-weight: 100;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 50px;
}
.inputs {
  text-align: center;
}
.left-operators {
  display: inline-block;
  width: 67%;
}
.right-operators {
  display: inline-block;
  width: 21%;
  vertical-align: top;
}
.right-operators button {
  background-color: rgb(255, 159, 15);
  color: white;
  font-size: 50px;
}

.top-operators button {
  font-weight: 400;
  vertical-align: top;
  background-color: rgb(169, 165, 170);
}
.numbers button {
  background-color: rgb(54, 50, 54);
  vertical-align: top;
  color: rgb(238, 237, 238);
}
.plus-minus {
  padding-top: 5px;
  padding-right: 6px;
  letter-spacing: -6px;
}
.percent {
  padding-top: 3px;
}
.mult {
  padding-bottom: 7px;
}
.zero {
  padding-right: 98px;
  width: 176px;
}
.comma {
  font-size: 56px;
  padding-bottom: 5px;
}
